<!DOCTYPE html>
<html lang="en" data-theme="dark">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/fonts/geist.css">

    <link rel="stylesheet" href="/assets/daisyui.css">
    {{ template "partials/scripts"}}
    <title>WRC Web Telemetry</title>
    <style>
      html {
        font-family: Geist !important;
      }
    </style>

  </head>

  <body>
    {{embed}}
  </body>