<main>
    <h1 class="flex justify-center font-bold text-2xl">WRC Web Telemetry</h1>

    <div class="flex justify-center text-xl" hx-get="/templates/timer" hx-swap="innerHTML"
        hx-trigger="every 100ms"></div>
    <div class="grid grid-cols-3 w-screen">

    </div>
</main>