<main>
    <h1 class="flex m-2 justify-center font-bold text-[#EC5A2A] text-5xl">WRC Web Telemetry</h1>

       <div class="flex justify-center text-xl">
        {{template "partials/timer"}}
    </div>
</main>