<script src="/assets/twind.js"></script>
<script src="/assets/htmx.min.js"></script>
<script src="/assets/iconify-icon.min.js"></script>
<script src="/assets/sse.js"></script>
<script src="/assets/class-tools.js"></script>