  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.1/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
         "colors": {
    "wrcblue": {
      50: "#E4E7F1",
      100: "#C9CFE3",
      200: "#949FC7",
      300: "#5E6FAB",
      400: "#3F4B79",
      500: "#232A43",
      600: "#1C2236",
      700: "#151928",
      800: "#0E111B",
      900: "#07080D",
      950: "#030407"
    },
    "wrcorange": {
      50: "#FDEDE8",
      100: "#FBDED5",
      200: "#F7BEAB",
      300: "#F49D81",
      400: "#F07D56",
      500: "#EC5A2A",
      600: "#CE4112",
      700: "#9A310E",
      800: "#672109",
      900: "#331005",
      950: "#170702"
    }
  }
        }
      }
    }
  </script>
<script src="/assets/htmx.min.js"></script>
<script src="/assets/iconify-icon.min.js"></script>
<script src="/assets/sse.js"></script>
<script src="/assets/class-tools.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>
