<div hx-ext="sse"
  sse-connect="/sse" class="stats w-[300px] flex-none stats-vertical shadow border-2 rounded-md border-[#EC5A2A]">

<div class="stat bg-[#232A43]">
    <div class="stat-title">Stage Time</div>
    <div class="stat-value text-white" id="currentTime">{{.Current}}</div>
    <div class="stat-desc">hh:mm:ss</div>
  </div>

  <div class="stat bg-[#232A43]">
    <div class="stat-title">Ingame Time</div>
    <div class="stat-value" id="inGameTime">{{.Total}}</div>
    <div class="stat-desc">hh:mm:ss</div>
  </div>

</div>
